content{
    --ion-background-color:#e1ad01;
}
ion-header{
    text-align: center;
}
ion{
    height: 100px;
    width: 100px;
#mainContent{
    margin: 200px;
}
ion-icon{
    height: 100px;
    width: 100px;
}
ion-list{
}