<ion-header [translucent]=“true”>
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]=“true” class=“main”>
    <ion-icon name=“pizza”></ion-icon>
  </ion-card>
  <div class=“mainContent”>
    <ion-list>
      <ion-itam>
        <ion-label>Toppings</ion-label>
        <ion-select multiple=“false”>
          <ion-select-optionBacon</ion-select-option>
          <ion-select-option>Olives</ion-select-option>
          <ion-select-optian>Cheese</ion-select-option>
          <ion-select-option>Peppers</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-item>
        <ion-label>Sauce</ion-label>
        <ion-select multiple=“false”>
          <ion-select-option>Pesto<ion-select-option>
          <ion-select-optian>White Garlic Sauce<ion-select-option>
          <ion-select-option>Hummus<ion-select-option>
          <ion-select-option>Marinara Sauce<ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
  </div>
</ion-content>