<ion-header [translucent]="true">
  <ion-toolbar color="medium">
    <ion-title>
      Tab 3
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="bg" [fullscreen]="true">
  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-but color="light">
      <ion-icon name="share"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button color="dark">
        <ion-icon name="logo-github"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="primary">
        <ion-icon name="logo-twitter"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="secondary">
        <ion-icon name="logo-reddit"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="tertiary">
        <ion-in name="logo-twitch"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

</ion-cont>